$orange:#fe8e20;
$green:#00652e;
$grey:#464b4f;
$red:#c30001;
$font1: 'Poppins',
sans-serif;
$font2: 'Amatic SC',
cursive;
$font3: 'Gloria Hallelujah',
cursive;

@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Gloria+Hallelujah|Poppins:600&subset=cyrillic');

@import "slick.scss";
@import "normalize";
@import "layout";
@import "elements";
@import "article";
@import "dish_and_product";

body {
	font: 400 16px/1.2 $font1;
	color: $grey;
}

/* Layout */
.rd-container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;

	@media screen and (max-width: 768px) {
		max-width: 100%;
		padding: 0 8px;
	}
}

/*Header*/
header {
	background: linear-gradient(to bottom, rgba(102, 102, 102, 1) 0%, rgba(13, 13, 13, 1) 100%);
}

.rd-header-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: 768px) {
		display: block;
	}
}

.rd-menu {
	display: flex;
	list-style: none;
	margin: 20px;
	color: #fff;
	justify-content: space-between;

	@media screen and (max-width: 768px) {
		margin: 10px 0 0;
		font-size: 14px;
		padding-bottom: 10px;
	}

	a {
		text-decoration: none;
		display: block;
		color: #fff;
	}

	a:hover {
		color: $orange;
		fill: $orange;
	}

	li+li {
		margin-left: 80px;

		@media screen and (max-width: 768px) {
			margin-left: 20px;
		}
	}

	li:last-child {
		display: flex;
	}

	svg {
		margin-right: 5px;
	}
}

.rd-logo img {
	max-width: 40%;
}

/*Intro*/

.rd-intro {
	background: linear-gradient(rgba(0, 0, 0, 0.8),
		rgba(255, 255, 255, 0.1)), url("../img/fresh_herbs.jpg") no-repeat 100% 100%;
	background-size: cover;
	text-align: center;
	padding: 70px 0;
	color: #fff;
	font-family: $font3;

	h1 {
		margin-bottom: 100px;

		@media screen and (max-width: 768px) {
			font-size: 2.5em;
		}
	}

	form {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		min-height: 100px;
	}

	[type="checkbox"] {
		display: none;
	}

	[type="checkbox"]:checked+label {
		color: $orange;
	}

	&__filter {
		width: 15%;
		position: relative;

		@media screen and (max-width: 768px) {
			width: 48%;
			margin-bottom: 20px;
		}

	}

	label {
		text-align: left;
		width: 100%;
		font-size: 23px;
		color: #fff;

		&:active {
			color: $orange;
		}
	}

	[type="checkbox"]:checked~div {
		display: flex;
		transition: 0.5s;
	}

	span {
		margin-left: 7px;

	}
}

.rd-filter-label {
	display: none;
	flex-wrap: wrap;
	position: absolute;
	top: 50px;
	left: 0;
	color: $green;
	padding: 10px;

	background: rgba(255, 255, 255, 0.9);
	width: 100%;
	font-size: 20px;
	padding: 10px;
	z-index: 1;


	label {
		color: $green;
		margin-bottom: 10px;

		@media screen and (max-width: 768px) {
			font-size: 20px;
		}
	}

	[type="checkbox"] {
		display: inline-block;
	}

	[type="checkbox"]:checked+span {
		color: $orange;
	}
}

/*Dishes*/

.rd-dishes {
	background: #fff;
	padding: 80px 0 40px;

	@media screen and (max-width: 768px) {
		padding: 40px 0;
	}

	.rd-more {
		color: $orange;
		display: block;
		text-align: right;
		margin: 40px 0;
		font-size: 35px;
		height: 40px;

		&:hover {
			opacity: 0.7;
			transition: .3s;
			font-size: 37px;
		}
	}
}

.rd-all-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.rd-item {
	width: 24%;
	margin-top: 20px;

	@media screen and (max-width: 768px) {
		width: 48%;
	}

	&:hover {
		opacity: 0.8;
		transition: .3s;
	}

	&__main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px;
		background: $orange;
		color: #fff;

		@media screen and (max-width: 768px) {
			display: block;
		}
	}

	&__inf {
		display: flex;
		justify-content: flex-end;
		border: 3px solid $orange;
		min-height: 200px;
		background: url("../img/dish.jpg") no-repeat;
		background-size: cover;

		@media screen and (max-width: 768px) {
			min-height: 130px;
		}

		div {
			width: 30%;
			background: rgba(255, 255, 255, 0.7);
			text-align: center;

			@media screen and (max-width: 768px) {
				width: 40%;
			}
		}
	}
}

div.rd-all-items--dishes{
    padding: 100px 0;
	justify-content: flex-start;
	
	@media screen and (max-width: 768px) {
		padding: 20px 0;
	}

    .rd-item {
        width: 32%;
		margin-right: 20px;
		
		@media screen and (max-width: 768px) {
			width: 47%;
		margin-right: 8px;
		}

        &:nth-child(3n){
			margin-right: 0; 
			
			@media screen and (max-width: 768px) {
			margin-right: 8px;
			}
        }
    }
}

/*Product*/
.rd-products {
	background: url("../img/bg-product.jpg");
	padding: 80px 0;

	.rd-more {
		color: #fff;
		display: block;
		text-align: right;
		margin: 40px 0 0;
		font-size: 35px;
		height: 40px;

		&:hover {
			opacity: 0.7;
			transition: .3s;
			font-size: 37px;
		}
	}
}

.rd-product {
	&__main {
		background: $green;
	}

	&__inf {
		border-color: $green;
		background: url("../img/product.jpg") no-repeat;
		background-size: cover;
	}
}

.rd-all-products{
	background:url("../img/bg-product.jpg");
	padding: 100px 0;

	@media screen and (max-width: 768px) {
		padding: 30px 0;
	}
}

/*Articles*/
.rd-articles {
	background: #fff;
	padding: 80px 0;

	&__slider{
		position:relative;
	}

}

.rd-slider-prev{
	position:absolute;
	left:-70px;
	top:50%;
	background:none;
	border:none;
	outline:none;

	&:hover{
		opacity:0.7;
	}

	@media screen and (max-width: 768px) {
		top:100%;
		left:0;
	}
}

.rd-slider-next{
	position:absolute;
	right:-70px;
	top:50%;
	background:none;
	border:none;
	outline:none;

	&:hover{
		opacity:0.7;
	}

	@media screen and (max-width: 768px) {
		top:100%;
		left:50px;
	}
}

.rd-article {

	min-height: 300px;
	outline:none;

	&--blog{
		margin-top:80px;

		@media screen and (max-width: 768px) {
			margin-top:30px;
		}

		&:last-child{
			margin-bottom: 80px;
		}
	}

	&__main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;

		@media screen and (max-width: 768px) {
			display: block;

			h2 {
				margin-bottom: 20px;
			}
		}
	}

	&__inf {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-start;
		line-height: 1.5;

		img {
			width: 20%;
			padding-top: 15px;

			@media screen and (max-width: 768px) {
				width: 100%;
			}
		}

		div {
			width: 78%;
			padding: 10px;
			text-align: justify;

			@media screen and (max-width: 768px) {
				width: 100%;
			}
		}

		a {
			float: right;
			margin-top: 3%;
			text-decoration: none;
			border: 2px solid $orange;
			color: $orange;
			border-radius: 50px;
			padding: 10px;

			@media screen and (max-width: 768px) {
				float: left;
			}

			&:hover {
				opacity: 0.7;
				transition: .3s;
			}
		}
	}

}

/*Footer*/

footer {
	background: linear-gradient(to bottom, rgba(102, 102, 102, 1) 0%, rgba(13, 13, 13, 1) 100%);
	;
	color: #fff;
	font-size: 27px;
	padding: 15px;

	a {
		color: transparent;
	}

	a+a {
		margin-left: 20px;
	}

	svg {
		fill: #fff;

		&:hover {
			fill: $orange;
			transition: .3s;
		}
	}
}

.rd-footer__widgets {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 17px;

	@media screen and (max-width: 768px) {
		display: block;
	}
}

.rd-footer__copyright {
	padding: 25px 0;
	font-size: 15px;

	@media screen and (max-width: 768px) {
		font-size: 12.5px;
	}
}